html,body,#app{
    height: 100%;
    margin: 0;
    padding: 0;
}

.el-card{
  margin: 10px;
  background-color: #fff;
}

.el-table{
  margin-top: 10px;
}

.el-card{
  border-radius: 0;
}

.el-button{
  border-radius: 0;
}